<div class="row">
    <div class="column">
        <h5>{{this.title}}</h5>
        <p>{{body}}</p>
    </div>
</div>

<div class="row">
    <form>
        <h5>Comment on this</h5>
        <div class="row">
            <div>
                <i class="material-icons prefix">name</i>
                <input type="text" class="name">
            </div>
            
            <div >
                <i class="material-icons prefix"></i>comment</i>
                <textarea class="comment" type="text" ></textarea>
            </div>
        </div>
        <div class="row">
            <div class="input-field">
                <button class="btn btn-primary post-button" data-id="{{this.id}}" type="submit" value="Submit">Submit</button>
            </div>
        </div>
    </form>
</div>

<div class="row">
    <div class="col s2"></div>
    <div class="col s8">
        <h5>comments</h5>
        {{#if articles.comment}}
        {{#each articles.comment}}
        <div class="card">
            <p id="nameComment">{{this.name}}</p>
            <p>{{this.comment}}<p>
        </div>
        {{/each}}
        {{else}}
        <p>No Comments Yet.</p>
        {{/if}}
    </div>
</div>
<script src="https://code.jquery.com/jquery.js"></script>
<script src="/app.js"></script>