<div class="container">
    <a href="/articles"><button class="btn btn-outline-secondary btn-sm back">back</button></a>
    <div class="jumbotron">
    <h1 class="text-center">Wiki-Scrapes</h1>
  </div>
    <div class="row">
        <div class="col s4">
            <h3 class="comment-page-title">{{this.title}}</h3>
        </div>
    </div>

    <div class="row">
        <div class="col s2">
            <h5>Comment on this</h5>
            <h5>Name</h5>
            <form>
                <input type="text" class="name">
                <h5>comment</h5>
                <textarea class="comment" type="text"></textarea>
                <br>
                <button class="btn btn-primary post-button" data-id="{{this.id}}" type="submit"
                    value="Submit">Submit</button>
            </form>
        </div>
    
    <div class="col s2">
        {{#if this.comment}}
        {{#each this.comment}}
        <div class="card">
            <p class="comment-card">{{this.name}}</p>
            <p class="comment-card">{{this.comment}}<p>
                <div>
            <button class="btn btn-danger btn-sm delete" data-id="{{this.id}}">delete</button>
            </div>
        </div>
        {{/each}}
        {{else}}
        <p>No Comments Yet.</p>
        {{/if}}
    </div>
    </div>
</div>