<div class="container">
  <div class="jumbotron" style="margin-top: 5%">
    <h1 class="text-center">Wiki-Scrapes</h1>
    <br>
    <div class="text-center">
      <a href="/scrape">
        <button class="btn btn-primary" id="get-new">GET NEW ARTICLES</button>
      </a>
    </div>
  </div>

  <div class="row">
    <div class="column">
      <h4 style="text-align: center">ARTICLES</h4>
      {{#each articles}}
      <div class="card">
        <a href="https://wikileaks.org/{{this.link}}">
          <h5>{{this.title}}</h5>
        </a>
        <br>
        {{this.date}}
        <br>
        {{this.summary}}
        <a href="/articles/{{this.id}}"><button type="button" class="btn btn-primary btn-sm main-comment"
            data-id="{{this.id}}">
            comment
          </button></a>
      </div>
      {{/each}}
      </ul>
    </div>
  </div>
</div>