<div class="jumbotron">
  <h1 class="text-center"><i class="fa fa-facebook-square" aria-hidden="true"></i>WikiScrapes</h1>
  <hr>
  
  <br>

  <div class="text-center">
    <a href="/scrape">
      <button class="btn btn-primary" id="get-new">
        <span class="fa fa-list-alt"></span>GET NEW ARTICLES</button>
    </a>
    <p class="searching"></p>
  </div>
</div>

<div class="row">
  <div class="column">
    <h4 style="text-align: center">ARTICLES</h4>
    <ul>
      {{#each articles}}
      <li>
        <a href="https://wikileaks.org/{{this.link}}">
          <h5>{{this.title}}</h5>
        </a>
        <br>
        {{this.date}}
        <br>
        {{this.summary}}
        <br>
        
        <a href="/articles/{{this.id}}"><button type="button" class="btn btn-primary main-comment" data-id="{{this.id}}">
          comment
        </button></a>
      </li>
      <br>
      {{/each}}
    </ul>
  </div>
</div>